body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    padding: 2rem;
}

main {
    margin: 5rem auto 0;
    max-width: 17rem;
    padding: 1rem 1rem 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

h1 {
    padding: 0 0.5rem;
    margin: 1.5rem auto;
    font-size: 1.3rem;
    font-weight: 700;
}

p {
    padding: 0 0.5rem;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    margin-top: 1rem;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(220, 15%, 55%); 
}